<p>cadastro-modal works!</p>

<form [formGroup]="form">
  <div class="flex flex-col gap-3">
    <div class="flex flex-col items-start gap-3 mb-4">
      <label for="campanhaNome" class="font-semibold w-24">Nome</label>
      <input pInputText id="campanhaNome" class="w-full" autocomplete="off" formControlName="Nome"
        [ngClass]="{ 'ng-invalid ng-dirty': FormUtils.isInvalidControlName('Nome', form) }" />
    </div>

    <div class="flex flex-col items-start gap-3 mb-4">
      <label for="campanhaDescricao" class="font-semibold w-24">Descrição</label>
      <textarea rows="3" cols="30" id="campanhaDescricao" class="w-full" pTextarea formControlName="Descricao"
        [ngClass]="{ 'ng-invalid ng-dirty': FormUtils.isInvalidControlName('Descricao', form) }"></textarea>
    </div>

    <div class="flex gap-4 mb-5">
      <div class="flex flex-col items-start gap-3 w-full">
        <label for="campanhaStatus" class="font-semibold w-24">Status</label>
        <p-inputnumber inputId="campanhaStatus" class="w-full" formControlName="Status" [min]="0" [max]="100"
          [ngClass]="{ 'ng-invalid ng-dirty': FormUtils.isInvalidControlName('Status', form) }" />
      </div>

      <div class="flex flex-col items-start gap-3 w-full">
        <label for="campanhaSistemaId" class="font-semibold w-24">Sistema</label>
        <p-inputnumber inputId="campanhaSistemaId" class="w-full" formControlName="SistemaId" [min]="0" [max]="100"
          [ngClass]="{ 'ng-invalid ng-dirty': FormUtils.isInvalidControlName('SistemaId', form) }" />
      </div>
    </div>
  </div>
</form>

<div class="flex justify-end gap-2">
  <p-button icon="pi pi-times" label="Cancelar" severity="secondary" (click)="onCancel.emit()" />
  <p-button icon="pi pi-save" [label]="skill ? 'Salvar alterações' : 'Salvar'" [loading]="saving" (click)="saveCampanha()" />
  @if (!skill) { <p-button icon="pi pi-save" label="Salvar e continuar" [loading]="saving" (click)="saveCampanha(true)" /> }
</div>