<form [formGroup]="form">
  <div class="flex flex-col gap-3 mb-5">
    <div class="flex gap-3 mb-4">
      <div class="flex flex-col items-start gap-3 w-2/4">
        <label for="campanhaNome" class="font-semibold"> Nome
          <i class="pi pi-info-circle text-blue-500" pTooltip="Informe o nome da habilidade" style="font-size: .75rem" tooltipPosition="right"></i>
        </label>
        <input pInputText id="campanhaNome" class="w-full" autocomplete="off" formControlName="Nome"
          [ngClass]="{ 'ng-invalid ng-dirty': FormUtils.isInvalidControlName('Nome', form) }" />
      </div>

      <div class="flex flex-col items-start gap-3 w-1/4">
        <label for="campanhaTipo" class="font-semibold"> Tipo
          <i class="pi pi-info-circle text-blue-500" pTooltip="Informe o tipo da habilidade" style="font-size: .75rem" tooltipPosition="right"></i>
        </label>
        <p-select inputId="campanhaTipo" formControlName="Tipo" [options]="[]" optionLabel="name" placeholder="Tipo" class="w-full" />
      </div>

      <div class="flex flex-col items-start gap-3 w-1/4">
        <label for="campanhaStatus" class="font-semibold"> Nível
          <i class="pi pi-info-circle text-blue-500" pTooltip="Informe o nível da habilidade" style="font-size: .75rem" tooltipPosition="right"></i>
        </label>
        <p-inputnumber inputId="campanhaStatus" class="w-full" formControlName="Nivel" [min]="0" [max]="100"
          [ngClass]="{ 'ng-invalid ng-dirty': FormUtils.isInvalidControlName('Nivel', form) }" />
      </div>
    </div>

    <div class="flex flex-col items-start gap-3 mb-4">
      <label for="campanhaDescricaoCurta" class="font-semibold"> Descrição curta
        <i class="pi pi-info-circle text-blue-500" pTooltip="Informe uma descrição sucinta de seu funcionamento" style="font-size: .75rem" tooltipPosition="right"></i>
      </label>
      <input pInputText id="campanhaDescricaoCurta" class="w-full" autocomplete="off" formControlName="DescricaoCurta"
        [ngClass]="{ 'ng-invalid ng-dirty': FormUtils.isInvalidControlName('DescricaoCurta', form) }" />
    </div>

    <div class="flex flex-col items-start gap-3 mb-4">
      <label for="campanhaDescricaoCompleta" class="font-semibold"> Descrição completa
        <i class="pi pi-info-circle text-blue-500" pTooltip="Informe uma descrição mais completa de como a habilidade funciona" style="font-size: .75rem" tooltipPosition="right"></i>
      </label>
      <textarea rows="3" cols="30" id="campanhaDescricaoCompleta" class="w-full" pTextarea formControlName="DescricaoCompleta"
        [ngClass]="{ 'ng-invalid ng-dirty': FormUtils.isInvalidControlName('DescricaoCompleta', form) }"></textarea>
    </div>

    <div class="flex gap-4 mb-5">
      <div class="flex flex-col items-start gap-3 w-1/3">
        <label for="campanhaHabilidadeDependenciaId" class="font-semibold"> Habilidade pai
          <i class="pi pi-info-circle text-blue-500" pTooltip="Esta habilidade depende de outra para ser desbloqueada?" style="font-size: .75rem" tooltipPosition="right"></i>
        </label>
        <p-select inputId="campanhaHabilidadeDependenciaId" formControlName="HabilidadeDependenciaId" [options]="[]" optionLabel="name" placeholder="Habilidade pai" class="w-full" />
      </div>

      <div class="flex flex-col items-start gap-3 w-1/3">
        <label for="campanhaExclusivaClasseId" class="font-semibold"> Exclusividade de classe
          <i class="pi pi-info-circle text-blue-500" pTooltip="Esta habilidade é exclusiva de alguma classe?" style="font-size: .75rem" tooltipPosition="right"></i>
        </label>
        <p-select formControlName="ExclusivaClasseId" [options]="[]" optionLabel="name" placeholder="Classe exclusiva" class="w-full" />
      </div>

      <div class="flex flex-col items-start gap-3 w-1/3">
        <label for="campanhaExclusivaRacaId" class="font-semibold"> Exclusividade de raça
          <i class="pi pi-info-circle text-blue-500" pTooltip="Esta habilidade é exclusiva de alguma raça?" style="font-size: .75rem" tooltipPosition="right"></i>
        </label>
        <p-select formControlName="ExclusivaRacaId" [options]="[]" optionLabel="name" placeholder="Raça exclusiva" class="w-full" />
      </div>
    </div>
  </div>
</form>

<div class="flex justify-end gap-2">
  <p-button icon="pi pi-times" label="Cancelar" severity="secondary" (click)="onCancel.emit()" />
  <p-button icon="pi pi-save" [label]="skill ? 'Salvar alterações' : 'Salvar'" [loading]="saving" (click)="saveHabilidade()" />
  @if (!skill) { <p-button icon="pi pi-save" label="Salvar e continuar" [loading]="saving" (click)="saveHabilidade(true)" /> }
</div>